# MongoDB Atlas connection
MONGO_URI=your_mongo_uri

# Server configuration
SERVER_PORT=your_server_port

# Base URL for shortened links
BASE_URL=your_base_url/api/

# Allowed origins for CORS
ALLOWED_ORIGINS=your_allowed_origins